@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	min-height: 100vh;
	margin: 0;
	font-family: Lato, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;


}

@media screen and (max-width: 800px) {
	body {
		display: block;
	}
}