<script>
  export let name;
  import Builder from "./Builder.svelte";
  import Result from "./Result.svelte";

  const departments = {
    institute: {
      label: "Health Institue",
      logo:
        "https://wildwoodhealth.org/wp-content/uploads/2019/03/Health-Institute-Logo-205x90.png",
      address: "435 Lifestyle Ln",
      maps: "https://goo.gl/maps/2UA3S9KRfgebaZGA9",
      website: "WildwoodHealth.org"
    },
    lifestyle: {
      label: "Lifestyle Center",
      logo:
        "https://wildwoodhealth.com/wp-content/uploads/2019/02/Lifestyle-Center-Logo-e1557341246862.png",
      address: "435 Lifestyle Ln",
      maps: "https://goo.gl/maps/2UA3S9KRfgebaZGA9",
      website: "WildwoodHealth.com"
    },
    education: {
      logo:
        "https://healthevangelism.com/wp-content/uploads/sites/3/2019/10/Education-Logo-Email.png",
      label: "Center for Health Education",
      address: "388 Tranquil Ln",
      maps: "https://goo.gl/maps/aZhGRRdWUhyqbevs5",
      website: "HealthEvangelism.com"
    },
    market: {
      label: "Natural Food Market",
      logo:
        "https://wildwoodhealth.org/wp-content/uploads/2019/05/Natural-Food-Market-Logo-e1557340880709.png",
      address: "122 Lifestyle Ln",
      maps: "https://goo.gl/maps/bkd3hnCfJX18Vq5Z8",
      website: "WildwoodNaturalFood.com"
    }
  };

  let department = departments.institute;
  let data = {
    name: "",
    position: "",
    phone: ""
  };

  function input(event) {
    let status = -1 !== Object.values(data).indexOf("");

    if ("department" === event.target.name) {
      department = departments[event.target.value];
    } else if ("phone" === event.target.name) {
      data.phone = format_string(
        event.target.value,
        event.target.placeholder
      ).value;

      status = status || !(10 <= data.phone.match(/\d/g).length);
    } else {
      data[event.target.name] = event.target.value;
    }

    updateButtons(status);
  }

  const updateButtons = status =>
    document
      .querySelectorAll("button")
      .forEach(button => (button.disabled = status));
</script>

<style>
  main {
    display: grid;
    grid-template-columns: minmax(200px, 450px) 450px;
    grid-gap: 10px 40px;
    padding: 20px;
  }

  @media screen and (max-width: 800px) {
    main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
  h1 {
    width: 100%;
    text-align: center;
    grid-column: span 2;
  }
</style>

<main>
  <h1>Build your Signature</h1>
  <Builder on:input={input} {departments} />
  <Result {department} {...data} />
</main>
