<script>
  import Input from "./Input.svelte";
  import { onMount } from "svelte";
  export let departments;
  let options = [];
  for (let department in departments) {
    options.push({
      value: department,
      label: departments[department].label
    });
  }

  onMount(async () => {
    document
      .querySelector("input[type='tel']")
      .addEventListener("input", format_input);
  });

  function selectElementText(el, win) {
    win = win || window;
    var doc = win.document, sel, range;
    if (win.getSelection && doc.createRange) {
        sel = win.getSelection();
        range = doc.createRange();
        range.selectNodeContents(el);
        sel.removeAllRanges();
        sel.addRange(range);
    } else if (doc.body.createTextRange) {
        range = doc.body.createTextRange();
        range.moveToElementText(el);
        range.select();
    }
}

  function copy() {
    selectElementText(document.querySelector(".signature"));
    document.execCommand("copy");
  }

  function copyHtml() {
    const html = document.querySelector(".html");
    const text = document
      .querySelector(".signature")
      .outerHTML.replace(/(\r\n|\n|\r)/gm, "")
      .replace(/\s+/g, " ")
      .replace(/(<.*?>)\s+/g, "$1");

    html.innerText = text;
    html.style.visibility = "visible";
    html.select();
    document.execCommand("copy");
    html.style.visibility = "hidden";
  }
</script>

<style>
  #builder {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 500px;
  }

  @media screen and (max-width: 800px) {
    #builder {
      width: 100%;
    }
  }

  h2 {
    text-align: center;
  }

  .inputs {
    display: grid;
    grid-template-columns: 1fr 33%;
    grid-gap: 15px 5px;
  }

  .buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  button {
    border-radius: 4px;
    padding: 15px;
    border: 0;
    background-color: #24845e;
    color: #ffffff;

    transition: background-color 200ms;
    cursor: pointer;
  }

  button:hover {
    background-color: #175a40;
  }

  .html {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .copy {
    display: block;
    margin: 20px 0 0;
    font-size: 16px;
  }

  .copy::disbled {
    background: #ccc;
  }

  .copy_html {
    background: transparent;
    color: #212121;
    padding: 0;
    font-size: 14px;
    display: block;
    margin: 10px 0 0;
  }
  .copy_html:hover {
    background: inherit;
    color: inherit;
    text-decoration: underline;
  }

  .copy:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .copy_html:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
</style>

<div id="builder">
  <h2>Builder</h2>
  <div class="inputs">
    <Input
      on:input
      type="select"
      label="Department"
      name="department"
      {options} />
    <Input on:input label="Name" name="name" placeholder="John Doe" />
    <Input
      on:input
      label="Position"
      name="position"
      placeholder="Business Analyst" />
    <Input
      cls="phone"
      on:input
      type="tel"
      label="Phone"
      name="phone"
      placeholder="(___) ___-____" />
    <Input
      cls="ext"
      on:input
      type="num"
      label="Ext"
      name="ext"
      placeholder="123" />
  </div>

  <div class="buttons">
    <textarea type="text" class="html" />
    <button on:click={copy} class="copy" disabled>Copy signature</button>
    <button on:click={copyHtml} class="copy_html" disabled>Copy html</button>
  </div>
</div>
