<script>
  export let cls = "";
  export let label;
  export let name;
  export let type = "text";
  export let placeholder = "";
  export let options = "";
</script>

<style>
  label {
    grid-column: span 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1em;
    font-weight: bold;
  }

  label.phone,
  label.ext {
    grid-column: auto;
  }

  input {
    margin-top: 5px;
    width: 100%;
  }

  select,
  option,
  input {
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.1px;
    border-radius: 2px;
  }

  select,
  input {
    box-sizing: border-box;
    height: 60px;
    padding: 12px 7px;
    border: 2px solid #ccc;
    outline: none;
  }

  select {
    padding-right: 35px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("https://wildwoodhealth.org/wp-content/uploads/2019/03/select-arrow-green-small.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 10px) center;
  }
</style>

<label class={cls}>
  {label}
  {#if 'select' !== type}
    <input on:input {type} {name} {placeholder} />
  {:else}
    <select on:input {name}>
      {#each options as option}
        <option value={option.value}>{option.label}</option>
      {/each}
    </select>
  {/if}
</label>
