<script>
  import { beforeUpdate } from "svelte";

  export let department,
    name,
    position,
    phone,
    ext = "";

  beforeUpdate(() => {
    name = name || "John Doe";
    position = position || "Business Analyst";
    phone = phone || "(423) 555-5555";
  });
</script>

<style>
  #result {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .signature {
    max-width: calc(100vw - 40px);
    overflow: scroll;
  }
  h2 {
    text-align: center;
  }
</style>

<div id="result">
  <h2>Result</h2>
  <div
    class="signature"
    style="width: 100%;max-width: 600px;padding: 20px 0;color:
    #212121;font-family: Tahoma, sans-serif;font-size: 14px;">
    <table style="border-collapse: collapse;color: #343434;width: 100%;">
      <tbody>
        <tr>
          <td
            rowspan="5"
            style="padding-top: 10px;border-right: 2px solid
            #1d855d;vertical-align: top;padding: 0 20px;width: 205px;">
            <a href="//{department.website}">
              <img
                class="logo"
                src={department.logo}
                alt="Wildwood {department.label} Logo" />
            </a>
          </td>
          <td colspan="2" style="padding-left: 15px;padding-bottom: 15px;">
            <p class="name" style="font-size: 22px;color: #1d855d;margin: 0;">
              {name}
            </p>
            <p
              class="position"
              style="font-size: 18px;color: #5aba92;margin: 0;">
              {position}
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="color: #1d855d;font-weight: bold;margin-right: 10px;padding:
            0 10px 0 20px;text-align: right;line-height: 2em;width: 15px;">
            P:
          </td>
          <td>
            <a
              class="phone"
              href="tel:+1{phone
                .match(/\d+/g)
                .join('') + (ext ? ',' + ext : '')}"
              style="text-decoration: none;color: inherit;white-space:nowrap;">
              {phone}
              {#if ext}ext: {ext}{/if}
            </a>
          </td>
        </tr>
        <tr>
          <td
            style="color: #1d855d;font-weight: bold;margin-right: 10px;padding:
            0 10px 0 20px;text-align: right;line-height: 2em;width: 15px;">
            A:
          </td>
          <td>
            <a
              class="address"
              href={department.maps}
              style="text-decoration: none;color: inherit;">
              {department.address}
            </a>
          </td>
        </tr>
        <tr>
          <td
            style="color: #1d855d;font-weight: bold;margin-right: 10px;padding:
            0 10px 0 20px;text-align: right;line-height: 2em;width: 15px;">
            W:
          </td>
          <td>
            <a
              class="website"
              href="//{department.website}"
              style="text-decoration: none;color: inherit;">
              {department.website}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
